.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #F03434;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.border-pregunta{
    padding: 5px;
    border-top: 1px solid #F03434;
    border-right: 1px solid #F03434;
    border-bottom: 1px solid #F03434;
    border-left: 1px solid #F03434;
}

.border-modulo{
    padding: 10px;
    border-top: 3px solid #F03434;
    border-right: 3px solid #F03434;
    border-bottom: 3px solid #F03434;
    border-left: 3px solid #F03434;
}

.back-orange{
    background: #000;
    background-color: #FF8C00;
}*/